/*this is the .css file that controls the styles of the webpage*/

h1 {
  color: firebrick;
  text-align: center;
  font-family: Alata, Roboto, Arial;
  font-size: 60px;
  background-image:url(double-bubble-dark.png);
 }

/*this is for the links font and centering*/
nav {
  text-align: center;
  font-family: Avenir;
}

  /*this is for the button shape on all the links.  I don't think avenir is supported although its the #4 most uploaded on GitHub, so.....*/
a {
  display: inline-block;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 10px;
  padding: 8px 17px;
  border-radius: 8px;
  border: 3px solid #ccc;
}


h2 {
  margin-left: 100px;
  color: green;
  font-family: Alata, Roboto, Arial;
  font-size: 30px;
}

h3 {
  margin-left: 100px;
  color: blue;
  font-size: 20px;
  font-family: Alata, Roboto, Arial;
}

/*this centers and sizes the image, and i wanted the background to be around it, but its actually behind it so you only see it for a split second while its loading.  will fix soon*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-image:url(double-bubble-dark.png);
}

/*this is for the paragraphs, and I'm not sure why these really common fonts don't show up... I'm going to have to talk with google*/
p {
  margin: 5px 180px;
  font-family: Myriad Pro;
}

ol, ul {
  font-family: Helvetica;
  margin: 20px 200px;
}

/*these are the pseudo-classes for the links, different colors for each circumstance*/
a:link { color: blue; }
a:visited { color: purple; }
a:hover { color: red; }
a:active { color: green; }
